body{
    font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
background-color:  #FFF;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
.link .logo-name{
    color: #4D5AE5;
}
.link{
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.16;
    text-transform: uppercase;
}
.link-nav{
    color: #2E2F42;
}
.link-nav:hover,
.link-nav:focus{
    color: #404BBF;
    text-decoration: underline;
}
.title{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.2px;
    line-height: 1.07;
    text-align: center;
}
button{
    cursor: pointer;
    color: #FFF;
    background-color: #4D5AE5;
}
button:hover,
button:focus{
    background-color: #404BBF;
}
